In [158]:
import pandas as pd
df = pd.read_csv('FRS_DataSet.csv')

###########################################
# Finding Null or Empty Values from DataSet
###########################################
empty_Cells = df.isnull().any()
print(empty_Cells)

#####################################################################
# if we have any null values than we got the column name using below
#####################################################################
nullValues = {}
i = 0
for index in empty_Cells.index:
    nullValues[index] = empty_Cells[i]
    i += 1
print("\n", nullValues)

Origin              True
OriginCode         False
Destination        False
DestinationCode    False
Country            False
FLight_Path        False
Flight_Time        False
Departure Date     False
Return Date        False
Duration           False
Stops              False
Flight_Name        False
Img_URL            False
Price              False
Origin_Loc         False
Destination_Loc    False
dtype: bool

 {'Origin': True, 'OriginCode': False, 'Destination': False, 'DestinationCode': False, 'Country': False, 'FLight_Path': False, 'Flight_Time': False, 'Departure Date': False, 'Return Date': False, 'Duration': False, 'Stops': False, 'Flight_Name': False, 'Img_URL': False, 'Price': False, 'Origin_Loc': False, 'Destination_Loc': False}

In [159]:
############################################################################
# Getting Row with index with empty Value + Above row for value Prediction
############################################################################
testColumns = ["Origin", "Destination", "Country"]
for colName in nullValues:
    if nullValues[colName] == True:
        # these the rows with empty values
        empty_Cell_Indexes = df[df[colName].isnull()].index
        for index in empty_Cell_Indexes:
            # these the rows with empty values
            print(df[testColumns].iloc[index])
            # Changing the rows wih Specific Values
            df[colName].iloc[index] = "Islamabad"

print("\n", df[testColumns].head(5))

Origin                       NaN
Destination              Toronto
Country        Pakistan - Canada
Name: 1, dtype: object
Origin                       NaN
Destination            Vancouver
Country        Pakistan - Canada
Name: 3, dtype: object

       Origin Destination            Country
0  Islamabad     Toronto  Pakistan - Canada
1  Islamabad     Toronto  Pakistan - Canada
2  Islamabad     Toronto  Pakistan - Canada
3  Islamabad   Vancouver  Pakistan - Canada
4  Islamabad   Vancouver  Pakistan - Canada

In [160]:
###########################################
# Changing the date Format in Given DataSet
# current = 5/10/2023  Expected: 2023-05-10
###########################################
DateCols = ["Departure Date", "Return Date"]
print(df[DateCols])
df["Departure Date"] = pd.to_datetime(df[DateCols[0]])
df["Departure Date"] = pd.to_datetime(df[DateCols[1]])
print(df[DateCols])

     Departure Date Return Date
0         5/10/2023   5/10/2023
1         5/10/2023   5/10/2023
2         5/10/2023   5/10/2023
3         5/10/2023   5/10/2023
4         5/10/2023   5/10/2023
...             ...         ...
2407      5/11/2023   5/11/2023
2408      5/11/2023   5/11/2023
2409      5/11/2023   5/11/2023
2410      5/11/2023   5/11/2023
2411      5/11/2023   5/11/2023

[2412 rows x 2 columns]
     Departure Date Return Date
0        2023-05-10   5/10/2023
1        2023-05-10   5/10/2023
2        2023-05-10   5/10/2023
3        2023-05-10   5/10/2023
4        2023-05-10   5/10/2023
...             ...         ...
2407     2023-05-11   5/11/2023
2408     2023-05-11   5/11/2023
2409     2023-05-11   5/11/2023
2410     2023-05-11   5/11/2023
2411     2023-05-11   5/11/2023

[2412 rows x 2 columns]

In [161]:
#################################################################
# getting The Duplicated Values
# Result is False because this is Already Cleaned (Self Scraped)
#################################################################
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
2407    False
2408    False
2409    False
2410    False
2411    False
Length: 2412, dtype: bool

In [ ]:
#################################################################
# Now Saving This New Cleaned DataSet
#################################################################

In [168]:
df.to_csv("Cleaned_DataSet.csv", sep=',', encoding='utf-8')

In [171]:
df2 = pd.read_csv('Cleaned_DataSet.csv')
df2[testColumns].head(5)

      Origin Destination            Country
0  Islamabad     Toronto  Pakistan - Canada
1  Islamabad     Toronto  Pakistan - Canada
2  Islamabad     Toronto  Pakistan - Canada
3  Islamabad   Vancouver  Pakistan - Canada
4  Islamabad   Vancouver  Pakistan - Canada